<!-- vim: set syntax=htmljinja : -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bard Portal Development</title>
		<link href="{{ url_for('static', filename='css/materialize.scss.css') }}" rel="stylesheet" type="text/css">
		<link href="css/bard.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/materialize.js"></script>
	</head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Logo</a>
			</div>
		</nav>
		<div class="container">
